<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <table class="table">
                <thead>
                  <tr>
                    <th *ngFor="let head of tableAdapter" scope="col" class="c-head" [attr.field]="head.field">
                      {{head.columnTitle}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of tableFields" (click)="onRowClick(data)">
                    <td *ngFor="let head of tableAdapter">
                        <ng-container *ngIf="data">
                          {{data[head.field]}}
                        </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

