<finlex-breadcrumb [root]="parent" [child]="child"></finlex-breadcrumb>
<hr />
<finlex-table [tableAdapter]="tableAdapter" [tableFields]="tableFields" (onRowClickEvent)="RowClickEvent($event)"></finlex-table>
<div class="container">
    <div class="row">
        <div class="col-12" *ngIf="rowData">
            <h3>Row Data</h3>
            <p>Clicked row data is: {{ rowData | json }}</p>
        </div>
    </div>
</div>

<finlex-radio-list></finlex-radio-list>
<hr />
<finlex-dragdrop></finlex-dragdrop>
<hr />
<finlex-card>
    <h5 class="finlex-card-header">Feature</h5>
    <div class="finlex-card-body">
    <h5 class="card-title">Special title treatment1</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>    
    </div>
</finlex-card>

<hr />

<finlex-icon [color]="color" [icon]="icon" [size]='size'></finlex-icon>
